{% extends 'base.html.twig' %}

{% block title product.name %}

{% block body %}
    <div class="product-detail">
        <img src="{{ asset('images/product.png') }}" class="rounded float-left img-thumbnail" alt="{{ product.name }}">
        <h1>{{ product.name }}</h1>
        <h2>{{ product.price }}&euro;</h2>
        <p>{{ product.description }}</p>
        <div><a href="{{ path('product_update', {id: product.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> {{ 'edit'|trans }}</a></div>
    </div>
{% endblock %}
